{
	"singleQuote": true,
	"trailingComma": "all",
	"semi": true,
	"printWidth": 120,
	"useTabs": true,
	"tabWidth": 2,
	"bracketSpacing": true,
	"endOfLine": "lf",
	"bracketSameLine": false,
	"proseWrap": "always",
	"arrowParens": "always"
}
